<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>ToDo</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="hero-unit">
      <h1>Get Stuff Done</h1>
      <form id="addTodo">
          <input id="text" placeholder="Buy Milk, etc" value="" />
      </form>
      <ul id="todoList"></ul>
    </div>

    <script type="text/template" id="todoTemp">
      <li id="<%= id %>" class="<%= status %>"><%= task %></li>
    </script>

    <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>